/************************ text ************************/
.text-sm {
  font-size: $font-size-sm;
}

.text-base,.text {
  font-size: $font-size-base;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-Abc {
  text-transform: Capitalize;
}

.text-ABC {
  text-transform: Uppercase;
}

.text-abc {
  text-transform: Lowercase;
}

.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-more-line-cut,
.text-2cut {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}


.text-lh-lg {
  line-height: 2;
}

.text-lh {
  line-height: 1.5;
}

.text-lh-sm {
  line-height: 1.2;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-light {
  font-weight: $font-weight-light;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}
