
html,
body {
  height: 100%;
  width: 100%;
}

body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: $font-family-base;
  color: $text-color-base;
  font-size: $font-size-base;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

//为了隐藏img标签底部的白边
img {
  vertical-align: bottom;
}

.pointer {
  cursor: pointer;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  zoom: 1;
}

.rotate180 {
  transform: rotate(180deg);
}

.overflow-h {
  overflow: hidden;
}
.overflow-a {
  overflow: auto;
}
