.border-base,.border{
    border:$border-width solid $border-color;
}
.border-l{
    border:$border-width solid $border-color;
}
.border-r{
    border:$border-width solid $border-color;
}
.border-t{
    border:$border-width solid $border-color;
}
.border-b{
    border:$border-width solid $border-color;
}

.border-b-none{
    border-bottom: none!important;
}
.border-t-none{
    border-top: none!important;
}
.border-l-none{
    border-left: none!important;
}
.border-r-none{
    border-right: none!important;
}
