// ************** color ****************
.color-primary {
    color: $primary-color;
  }
.color-success {
  color: $success-color !important;
}
.color-warn {
  color: $warn-color !important;
}
.color-danger {
  color: $danger-color !important;
}
.color-highlight {
  color: $highlight-color;
}

.color-white{
  color: white;
}
.color-black{
  color: black;
}

.color-title {
  color: $text-color-primary;
}
.color-text {
  color: $text-color-base;
}
.color-subtext {
  color: $text-color-secondary;
}
.color-placeholder {
  color: $text-color-placeholder;
}
