// @import './_variables.scss';
/************************ margin  ************************/
.mg0auto {
  margin: 0 auto;
}
.mg0 {
  margin: 0;
}

.mg-sm {
  margin: $margin-sm;
}
.mg-xs {
  margin: $margin-xs;
}

.mg,
.mg-base {
  margin: $margin-base;
}

.mg-lg {
  margin: $margin-lg;
}

.mg-t,
.mg-t-base {
  margin-top: $margin-base;
}

.mg-t-sm {
  margin-top: $margin-sm;
}
.mg-t-xs {
  margin-top: $margin-xs;
}
.mg-t-lg {
  margin-top: $margin-lg;
}

.mg-r-sm {
  margin-right: $margin-sm;
}
.mg-r-xs {
  margin-right: $margin-xs;
}
.mg-r,
.mg-r-base {
  margin-right: $margin-base;
}

.mg-r-lg {
  margin-right: $margin-lg;
}

.mg-b-sm {
  margin-bottom: $margin-sm;
}

.mg-b-xs {
  margin-bottom: $margin-xs;
}
.mg-b,
.mg-b-base {
  margin-bottom: $margin-base;
}

.mg-b-lg {
  margin-bottom: $margin-lg;
}

.mg-l-sm {
  margin-left: $margin-sm;
}
.mg-l-xs {
  margin-left: $margin-xs;
}
.mg-l,
.mg-l-base {
  margin-left: $margin-base;
}

.mg-l-lg {
  margin-left: $margin-lg;
}

.mg-tb-sm {
  margin-bottom: $margin-sm;
  margin-top: $margin-sm;
}
.mg-tb-xs {
  margin-bottom: $margin-xs;
  margin-top: $margin-xs;
}
.mg-tb,
.mg-tb-base {
  margin-bottom: $margin-base;
  margin-top: $margin-base;
}

.mg-tb-lg {
  margin-bottom: $margin-lg;
  margin-top: $margin-lg;
}

.mg-lr-sm {
  margin-left: $margin-sm;
  margin-right: $margin-sm;
}

.mg-lr,
.mg-lr-base {
  margin-left: $margin-base;
  margin-right: $margin-base;
}
.mg-lr-xs{
  margin-left: $margin-xs;
  margin-right: $margin-xs;
}
.mg-lr-lg {
  margin-left: $margin-lg;
  margin-right: $margin-lg;
}

/************************ padding  ************************/

.pd-0 {
  padding: 0 !important;
}
.pd-sm {
  padding: $padding-sm;
}

.pd,
.pd-base {
  padding: $padding-base;
}

.pd-lg {
  padding: $padding-lg;
}

.pd-t-sm {
  padding-top: $padding-sm;
}
.pd-t-xs {
  padding-top: $padding-xs;
}
.pd-t,
.pd-t-base {
  padding-top: $padding-base;
}

.pd-t-lg {
  padding-top: $padding-lg;
}

.pd-r-sm {
  padding-right: $padding-sm;
}
.pd-r-xs {
  padding-right: $padding-xs;
}
.pd-r,
.pd-r-base {
  padding-right: $padding-base;
}

.pd-r-lg {
  padding-right: $padding-lg;
}

.pd-b-sm {
  padding-bottom: $padding-sm;
}
.pd-b-xs {
  padding-bottom: $padding-xs;
}
.pd-b,
.pd-b-base {
  padding-bottom: $padding-base;
}

.pd-b-lg {
  padding-bottom: $padding-lg;
}

.pd-l-sm {
  padding-left: $padding-sm;
}
.pd-l-xs {
  padding-left: $padding-xs;
}
.pd-l,
.pd-l-base {
  padding-left: $padding-base;
}

.pd-l-lg {
  padding-left: $padding-lg;
}

.pd-lr-sm {
  padding-left: $padding-sm;
  padding-right: $padding-sm;
}

.pd-lr,
.pd-lr-base {
  padding-left: $padding-base;
  padding-right: $padding-base;
}

.pd-lr-lg {
  padding-left: $padding-lg;
  padding-right: $padding-lg;
}

.pd-tb-sm {
  padding-top: $padding-sm;
  padding-bottom: $padding-sm;
}
.pd-tb-xs {
  padding-top: $padding-xs;
  padding-bottom: $padding-xs;
}

.pd-tb,
.pd-tb-base {
  padding-top: $padding-base;
  padding-bottom: $padding-base;
}

.pd-tb-lg {
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;
}
