
/************************ flex  ************************/
.flex ,
.flex-row{
    display: flex;
}
.flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.flex1row,
.flex-row-nowrap{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.flexnrow,
.flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

// 在ie11 下 flex: 1 解析为1 1 0, 而不是其他浏览器的1 1 auto
.flex1 {
  flex-grow: 1;
}
.flex-s-0{
  flex-shrink: 0;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: flex-center;
}

.self-end {
  align-self: flex-end;
}

.self-stretch {
  align-self: stretch;
}